<div
  class="fixed z-50 inset-0 overflow-y-auto"
  x-cloak
  x-show="openNew"
  x-transition.opacity
  aria-modal="true"
  aria-labelledby="modal-headline">
  <div class="flex items-center justify-center min-h-screen">
    <div
      class="fixed inset-0 bg-textColor/70"
      x-show="openNew"
      @click="openNew = false"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->

    <div
      class="bg-white overflow-hidden relative shadow-xl w-full max-w-[900px] mx-[20px] p-6 rounded"
      role="dialog"
      aria-modal="true"
      aria-labelledby="Add New Address">
      {% form 'customer_address'
        , customer.new_address %}
        <div class="new-address-form">
          <div class="flex justify-between items-center mb-3">
            <h3 class="text-lg font-bold">Dodaj nowy adres</h3>
            <button type="button" @click="openNew = false">
              {% render 'icon-close'
                , class: 'w-5 scale-150 origin-right fill-textColor hover:fill-accent'
              %}
            </button>
          </div>
          <div class="grid md:grid-cols-2 gap-3 grid-cols-1">
            <label for="first_name" class="sr-only">
              Imię
            </label>
            <input
              type="text"
              name="address[first_name]"
              value="{{ form.first_name }}"
              autocapitalize="words"
              required
              placeholder="Imię"
              id="first_name"
              class="input">

            <label for="last_name" class="sr-only">
              Nazwisko
            </label>
            <input
              type="text"
              name="address[last_name]"
              value="{{ form.last_name }}"
              id="last_name"
              required
              autocapitalize="words"
              placeholder="Nazwisko"
              class="input">

            <label for="company" class="sr-only">
              Firma
            </label>
            <input
              type="text"
              name="address[company]"
              value="{{ form.company }}"
              id="company"
              placeholder="Firma"
              autocapitalize="words"
              class="input">

            <label for="phone" class="sr-only">
              Tel.
            </label>
            <input
              type="tel"
              name="address[phone]"
              value="{{ form.phone }}"
              id="phone"
              placeholder="Tel."
              autocapitalize="words"
              class="input">

            <label for="country" class="sr-only">
              Kraj
            </label>
            <select
              x-ref="address_country"
              name="address[country]"
              @change="province = JSON.parse($event.target.selectedOptions[0].dataset.provinces); address.country = $event.target.selectedOptions[0].text;"
              value="{{ form.country }}"
              id="country"
              placeholder="Kraj"
              required
              class="input">
              {{ country_option_tags }}
            </select>

            <div x-show="province.length > 0">
              <label for="province" class="sr-only">
                Województwo
              </label>

              <select
                name="address[province]"
                value="{{ form.province }}"
                id="province"
                placeholder="Województwo"
                autocapitalize="words"
                class="input">
                <template x-for="item in province">
                  <option :value="item[0]" x-text="item[0]"></option>
                </template>
              </select>
            </div>

            <label for="city" class="sr-only">
              Miasto
            </label>
            <input
              type="text"
              name="address[city]"
              value="{{ form.city }}"
              id="city"
              placeholder="Miasto"
              required
              autocapitalize="words"
              class="input">

            <label for="address1" class="sr-only">
              Adres 1
            </label>
            <input
              type="text"
              name="address[address1]"
              value="{{ form.address1 }}"
              id="address1"
              placeholder="Adres1"
              required
              autocapitalize="words"
              class="input">

            <label for="address2" class="sr-only">
              Adres 2
            </label>
            <input
              type="text"
              name="address[address2]"
              value="{{ form.address2 }}"
              id="address2"
              placeholder="Adres2"
              autocapitalize="words"
              class="input">

            <label for="zip" class="sr-only">
              Kod pocztowy
            </label>
            <input
              type="text"
              name="address[zip]"
              value="{{ form.zip }}"
              id="zip"
              placeholder="Kod pocztowy"
              required
              autocapitalize="words"
              class="input">
          </div>
        </div>

        <div class="flex md:flex-row flex-col justify-between mt-6 gap-5">
          <label class="whitespace-nowrap cursor-pointer flex items-center">
            {{
              form.set_as_default_checkbox | replace: '<input', '<input class="w-5 h-5 mr-3 accent-accent"'
            }}
            Wybierz jako domyślny adres
          </label>

          <button type="submit" class="button w-full">Dodaj adres</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>