<div class="flex sm:justify-start items-center">

  {% comment %} Mobile Nav {% endcomment %}
  <div x-data="{ dropdownOpen: false }" class="relative w-full m-2 sm:w-max sm:mx-0 lg:hidden">

    <button @click="dropdownOpen=true" class="w-full inline-flex items-center justify-center h-12 py-2 pl-3 pr-10 text-sm font-medium transition-colors bg-white border rounded-md text-neutral-700 hover:bg-gray-100 active:bg-white focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
      <span class="flex items-center flex-shrink-0 h-full leading-none px-5">
        ADRESY
      </span>
      <svg
        class="absolute right-0 w-5 h-5 mr-3"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"><path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" /></svg>
    </button>

    <div
      x-show="dropdownOpen"
      @click.away="dropdownOpen=false"
      x-transition:enter="ease-out duration-200"
      x-transition:enter-start="-translate-y-2"
      x-transition:enter-end="translate-y-0"
      class="absolute top-0 z-50 w-full mt-12 -translate-x-1/2 left-1/2"
      x-cloak>
      <div class="p-1 mt-1 bg-white border rounded-md shadow-md border-neutral-200/70 text-neutral-700">
        <a href="{{ routes.account_url }}" class="relative flex cursor-default select-none hover:bg-neutral-100 items-center rounded px-3 py-3 text-sm outline-none transition-colors data-[disabled]:pointer-events-none data-[disabled]:opacity-50 justify-center">
          Zamówienia
        </a>

        <div class="h-px my-1 -mx-1 bg-neutral-200"></div>

        <a href="{{ routes.account_logout_url }}" class="relative flex justify-center cursor-default select-none hover:bg-neutral-100 items-center rounded  text-sm outline-none transition-colors data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
          <div class="px-3 py-3 text-sm font-normal">Wyloguj się</div>
        </a>
      </div>
    </div>
  </div>

  {% comment %} Heading {% endcomment %}
  <h3 class="hidden lg:block text-xl font-normal px-5 py-5">Adresy</h3>
</div>
<div
  x-init="$nextTick(() => {
  province = JSON.parse($refs.address_country.selectedOptions[0].dataset.provinces);
})"
  x-data="{ openDelete: false, openNew: false, deleteId: null, province: [] ,openEdit: false, address: {{ customer.addresses[0] | json | escape }} }"
  class="flex flex-col">
  {% paginate customer.addresses by 10 %}
    {% if customer.addresses != 0 %}
      <div class="flex flex-col border sm:rounded-md sm:shadow-m">
        <div class="overflow-x-auto">
          <div class="inline-block min-w-full">
            <div class="overflow-hidden">
              <table class="min-w-full divide-y divide-neutral-200/70">
                <thead>
                  <tr class="text-neutral-800">
                    <th class="px-5 py-3 text-xs font-medium text-left uppercase">Adres</th>
                    <th class="px-5 py-3 text-xs font-medium text-right uppercase">Czynności</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-neutral-200/70" x-data="{
              goToUrl(url) {
                window.location = url;
              }
            }">
                  {% for address in customer.addresses %}
                    <tr class="text-neutral-800 hover:bg-gray-100">
                      <td class="px-5 py-4 text-sm">
                        <div class="flex flex-col items-start flex-1 gap-2">
                          {{ address | format_address }}
                          {% if address == customer.default_address %}
                            <i class="rounded-full bg-shof-green text-white px-3 py-1 text-xs font-medium">Domyślny</i>
                          {% endif %}
                        </div>
                      </td>
                      <td class="px-5 py-4 text-sm">
                        <div class="flex flex-1 items-center justify-end gap-3">

                          <button @click="openEdit = true; address = {{ address | json | escape }}">
                            Edytuj
                          </button>

                          <button @click="openDelete = true; deleteId = {{ address.id }}">
                            Usuń
                          </button>

                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {% if paginate.pages > 1 %}
                <div class="pagination no-print">
                  {% render 'pagination' paginate: paginate %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p>Proszę, dodaj adres
      </p>
    {% endif %}
  {% endpaginate %}

  <button
    type="submit"
    @click="openNew = true"
    class="button my-4 uppercase m-2 sm:self-center">
    Dodaj nowy adres
  </button>

  {% render 'address-add' %}
  {% render 'address-delete' %}
  {% render 'address-edit' %}
</div>

<style>
  .orders-table tr:nth-child(even) {
    background-color: #f7f7f7;
  }
</style>


{% comment %} OLD {% endcomment %}
{% comment %} <div
                                                                  class="col-span-3"
                                                                  x-init="$nextTick(() => {
                                                                										province = JSON.parse($refs.address_country.selectedOptions[0].dataset.provinces);
                                                                								})"
                                                                  x-data="{ openDelete: false, openNew: false, deleteId: null, province: [] ,openEdit: false, address: {{ customer.addresses[0] | json | escape }} }">
                                                                  <div class="overflow-hidden">
                                                                    <div class="">
                                                                      <h3 class="hidden lg:block text-xl font-normal px-5 py-5">Adresy</h3>
                                                                      <div class="mt-3 overflow-hidden overflow-x-auto font-bold">
                                                                        {% paginate customer.addresses by 10 %}
                                                                          {% if customer.addresses != 0 %}
                                                                            <table class="min-w-full divide-y divide-gray-200 border">
                                                                              <thead>
                                                                                <tr>
                                                                                  <th class="text-left px-3 py-2">Adres</th>
                                                                                  <th class="text-left px-3 py-2">Czynności</th>
                                                                                </tr>
                                                                              </thead>
                                                                              <tbody>
                                                                                {% for address in customer.addresses %}
                                                                                  <tr class="border-b border-gray-300">
                                                                                    <td class="px-3 py-2">
                                                                                      <div class="flex items-center">
                                                                                        {{ address | format_address | replace: '<br>', ' ' }}
                                                                                        {% if address == customer.default_address %}
                                                                                          <i class="rounded-full bg-green-600 text-white px-3 py-1 ml-3 text-xs font-bold">Domyślny</i>
                                                                                        {% endif %}
                                                                                      </div>
                                                                                    </td>

                                                                                    <td class="px-3 py-2 text-center">
                                                                                      <div class="flex items-center gap-3">

                                                                                        <button @click="openEdit = true; address = {{ address | json | escape }}">
                                                                                          Edytuj
                                                                                        </button>

                                                                                        <button @click="openDelete = true; deleteId = {{ address.id }}">
                                                                                          Usuń
                                                                                        </button>

                                                                                      </div>
                                                                                    </td>

                                                                                  </tr>
                                                                                {% endfor %}
                                                                              </tbody>
                                                                            </table>
                                                                          {% else %}
                                                                            <p>Proszę, dodaj adres
                                                                            </p>
                                                                          {% endif %}

                                                                          {% if paginate.pages > 1 %}
                                                                            <div class="pagination">
                                                                              {% render 'pagination'
                                                                                , paginate: paginate %}
                                                                            </div>
                                                                          {% endif %}

                                                                        {% endpaginate %}
                                                                      </div>
                                                                    </div>


                                                                  </div>
</div> {% endcomment %}