<div class="px-5 py-3 relative flex flex-none items-center justify-between border border-b-1 border-off-white shadow-sm">
	<h2 class="text-4xl font-normal hover:text-primary">
		<a href="{{ routes.cart_url }}">Koszyk</a>
	</h2>
	<span class="cursor-pointer transition hover:-rotate-90 hover:scale-125 active:scale-100" @click="showCartDrawer = false; document.body.classList.remove('overflow-hidden')">
		{% render 'icon-close'
			, class: 'max-w-[30px] fill-textColor hover:fill-primary' %}
	</span>
</div>
{% if cart.item_count > 0 %}
	<form action="{{ routes.cart_url }}" class="relative flex flex-col flex-1 min-h-0" method="POST">
		<div class="px-5 overflow-y-auto flex-col divide-y flex-1">
			{% for item in cart.items %}
				<div class="grid grid-cols-[1fr_2fr] items-center gap-5 py-5">
					<a href="{{ item.url }}" class="place-self-center">
						{% if item.image %}
							{{ item.image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
								{% else %}
									{{ 'product-1' | placeholder_svg_tag }}
							{% endif %}
						<div>
					</a>
						<h3 class="font-normal hover:text-accent"><a href="{{ item.url }}">{{ item.product.title }}</a></h3>
						{% if item.variant.title != 'Default Title' and item.variant.title != 'No Color / OS' and item.variant.title != 'NC / OS' %}
							{% for option in item.options_with_values %}
								<div class="text-sm mt-1">{{ option.name }}: {{ option.value }}</div>
							{% endfor %}
						{% endif %}

						{% comment %} Item Properties {% endcomment %}
						{% for property in item.properties %} 
							<p class="text-sm mt-1">{{ property.first }}: {{ property.last }}</p> 
						{% endfor %}

						<p class="font-normal my-2">{{ item.final_line_price | money }}</p>
						<div class="flex items-center gap-3">
							{% render 'product-quantity', product: item, product_index: forloop.index, cart_page: true %}
							<button 
								type="button"
								title="remove {{ item.title }}"
								class="text-sm underline hover:text-accent mt-auto"
								@click.debounce="loading = true; Functions.changeQuantity({{ forloop.index }}, 0)"
							>
								Usuń
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="p-5 border border-t-1 border-off-white shadow-l flex flex-col gap-2">
			<div class="flex justify-between px-2">
				<h3 class="font-normal text-xl">Suma:</h3>
				<p class="font-medium text-xl text-accent">{{ cart.total_price | money }}</p>
			</div>
			<button type="submit" name="checkout" class="button w-full">Do kasy</button>
		</div>
	</form>
	{% else %}
		<div class="flex flex-col justify-center items-center gap-5 h-[70vh]">
			{% render 'icon-shopping-bag', size: 80, stroke: 1 %}
			<h3 class="text-3xl font-light">Twój koszyk jest pusty</h3>
			<a href="{{ routes.all_products_collection_url }}" class="button">
				Kontynuuj zakupy
			</a>
		</div>
{% endif %}