<div class="container mx-auto px-4 sm:px-10 py-10">
  <div class="flex flex-col gap-4 border-b pb-4">
    {% comment %} Account actions {% endcomment %}
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
      <div class="font-normal text-4xl">Konto</div>
      <a href="{{ routes.account_url }}" class="link">Powrót do konta</a>
    </div>
    {% comment %} Order info {% endcomment %}
    <div>
      <h1 class="text-2xl font-light">Zamówienie {{ order.name }}
      </h1>
      {% comment %} Order date and time {% endcomment %}
      <div class="text-sm">
        {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
        <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
        {%- if order.cancelled -%}
          {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
          <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
        {%- endif -%}
      </div>
    </div>

    {% comment %} Desktop headings {% endcomment %}
    <div class="border-b pb-3 mt-4 grid sm:gap-4 sm:grid-cols-[minmax(min-content,1fr)_repeat(3,.4fr)]">
      <p class="uppercase tracking-widest hidden sm:block">Produkt</p>
      <p class="uppercase tracking-widest hidden sm:block">Cena</p>
      <p class="uppercase tracking-widest hidden sm:block">Ilość</p>
      <p class="uppercase tracking-widest hidden sm:block">Suma</p>
    </div>

    {% comment %} Items {% endcomment %}
    {% for line_item in order.line_items %}
      <div class="border-b pb-3 grid grid-cols-[minmax(max-content,1fr)_minmax(min-content,2fr)] gap-x-4 gap-y-2 sm:gap-4 sm:grid-cols-[minmax(min-content,1fr)_repeat(3,.4fr)]">
        <p class="uppercase tracking-widest sm:hidden">Produkt</p>
        <div class="flex flex-col sm:col-start-1">
          <div class="text-lg underline decoration-1 hover:decoration-2">{{ line_item.title | link_to: line_item.product.url }}</div>
          {% comment %} Item properties {% endcomment %}
          {%- assign property_size = line_item.properties | size -%}
          {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
            {%- unless line_item.product.has_only_default_variant -%}
              <span>
                {{ line_item.variant.title }}
              </span>
            {%- endunless -%}
            {%- if property_size != 0 -%}
              {%- for property in line_item.properties -%}
                {% assign property_first_char = property.first | slice: 0 %}
                {%- if property.last != blank and property_first_char != '_' -%}
                  <span>{{ property.first }}:</span>
                  <span>
                    {%- if property.last contains '/uploads/' -%}
                      <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </span>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endunless -%}
        </div>
        <p class="uppercase tracking-widest sm:hidden">Cena</p>
        <div class="font-medium sm:col-start-2">{{ line_item.original_price | money }}</div>
        <p class="uppercase tracking-widest sm:hidden">Ilość</p>
        <div class="font-medium sm:col-start-3">{{ line_item.quantity }}</div>
        <p class="uppercase tracking-widest sm:hidden">Suma</p>
        <div class="font-medium sm:col-start-4">
          {{ line_item.final_line_price | money }}</div>
      </div>
    {% endfor %}

    {% comment %} Order summary {% endcomment %}
    <div class="grid gap-3 grid-cols-[1fr_max-content] sm:grid-cols-[minmax(min-content,1fr)_repeat(3,.4fr)]">
      <p class="uppercase tracking-widest sm:col-start-1">Suma częściowa</p>
      <div class="font-medium sm:col-start-4 text-right sm:text-left">{{ order.subtotal_price | money }}</div>
      <p class="uppercase tracking-widest sm:col-start-1">Wysyłka</p>
      <div class="font-medium sm:col-start-4 text-right sm:text-left">{{ order.shipping_price | money }}</div>
      <p class="uppercase tracking-widest sm:col-start-1 font-medium text-xl">Suma</p>
      <div class="font-medium text-xl sm:col-start-4 text-right sm:text-left">
        {{ order.total_price | money }}</div>
    </div>
  </div>

  {% comment %} Order status {% endcomment %}
  <div class="grid grid-cols-1 md:grid-cols-2 mt-10 gap-4">
    <div>
      <h2 class="text-xl font-normal">{{ 'customer.order.billing_address' | t }}</h2>
      <p>
        <strong>{{ 'customer.order.payment_status' | t }}:</strong>
        {{ order.financial_status_label }}
      </p>
      {{ order.billing_address | format_address }}
    </div>
    <div>
      <h2 class="text-xl font-normal">{{ 'customer.order.shipping_address' | t }}</h2>
      <p>
        <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
        {{ order.fulfillment_status_label }}
      </p>
      {{ order.shipping_address | format_address }}
    </div>
  </div>
</div>