<div class="container mx-auto px-4 sm:px-10 py-10">
  <div class="flex flex-col gap-4">
    {% comment %} Account actions {% endcomment %}
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
      <div class="font-normal text-4xl">Konto</div>
      <a href="{{ routes.account_url }}" class="link">Powrót do konta</a>
    </div>
    {% comment %} Order info {% endcomment %}
    <div>
      <h1 class="text-2xl font-light">Zamówienie {{ order.name }}
      </h1>
      {% comment %} Order date and time {% endcomment %}
      <div class="text-sm">
        {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
        <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
        {%- if order.cancelled -%}
          {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
          <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
        {%- endif -%}
      </div>
    </div>
    {% comment %} Items {% endcomment %}

    {% for line_item in order.line_items %}
      <div class="border-b pb-3 grid grid-cols-[minmax(max-content,1fr)_minmax(min-content,2fr)] gap-x-4 gap-y-2 sm:gap-4 sm:grid-cols-[minmax(min-content,1fr)_repeat(3,.4fr)]">

        <p class="uppercase tracking-widest">Produkt</p>
        <div class="flex flex-col sm:col-start-1 sm:row-start-2">
          <div class="text-lg underline decoration-1 hover:decoration-2">{{ line_item.title | link_to: line_item.product.url }}</div>
          {% comment %} Item properties {% endcomment %}
          {%- assign property_size = line_item.properties | size -%}
          {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
            {%- unless line_item.product.has_only_default_variant -%}
              <span>
                {{ line_item.variant.title }}
              </span>
            {%- endunless -%}
            {%- if property_size != 0 -%}
              {%- for property in line_item.properties -%}
                {% assign property_first_char = property.first | slice: 0 %}
                {%- if property.last != blank and property_first_char != '_' -%}
                  <span>{{ property.first }}:</span>
                  <span>
                    {%- if property.last contains '/uploads/' -%}
                      <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </span>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endunless -%}
        </div>
        <p class="uppercase tracking-widest sm:col-start-2 sm:row-start-1">Cena</p>
        <div class="font-medium sm:col-start-2 sm:row-start-2">{{ line_item.original_price | money }}</div>
        <p class="uppercase tracking-widest sm:col-start-3 sm:row-start-1">Ilość</p>
        <div class="font-medium sm:col-start-3 sm:row-start-2">{{ line_item.quantity }}</div>
        <p class="uppercase tracking-widest sm:col-start-4 sm:row-start-1">Suma</p>
        <div class="font-medium sm:col-start-4 sm:row-start-2">
          {{ line_item.final_line_price | money }}</div>


      </div>
    {% endfor %}

  </div>

  <div>
    {% for line_item in order.line_items %}
      <div class="w-full border divide-y rounded mb-4">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:gap-4 gap-12 p-4 md:p-12">

          <div>
            <h1 class="text-xl font-medium mb-4">{{ line_item.title | link_to: line_item.product.url }}</h1>
            <table class="table-auto w-full mb-4">
              <tbody>
                <tr>
                  <td class="border px-4 py-2">Cena</td>
                  <td class="border px-4 py-2">{{ line_item.original_price | money }}</td>
                </tr>
                <tr>
                  <td class="border px-4 py-2">Ilość</td>
                  <td class="border px-4 py-2">{{ line_item.quantity }}</td>
                </tr>
                <tr>
                  <td class="border px-4 py-2">Kwota</td>
                  <td class="border px-4 py-2">{{ line_item.final_line_price | money }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="p-4 md:p-12">
          <h1 class="text-lg font-medium mb-4">Status realizacji</h1>
          {% if line_item.successfully_fulfilled_quantity > 0 %}
            <p class="mb-2">We have fulfilled {{ line_item.successfully_fulfilled_quantity }} items of your recent order.</p>
            <p class="mb-2">Firma kurierska: {{ line_item.fulfillment.tracking_company }}
            </p>
            <p class="mb-2">Numer przesyłki: {{ line_item.fulfillment.tracking_number }}</p>
            <a
              target="_blank"
              href="{{ line_item.fulfillment.tracking_url }}"
              class="flex w-max text-sm text-white font-medium bg-gray-700 hover:bg-gray-900 px-4 py-1 rounded">Śledź przesyłkę {% render 'icon-link' %}</a>
          {% else %}
            <p>Nie zrealizowaliśmy jeszcze tego zamówienia</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-12 border rounded p-4 md:p-12 my-6">
    <div>
      <h1 class="font-medium mb-4">Adres dostawy</h1>
      <div class="mb-4">
        <!-- {{ order.shipping_address | format_address }} -->
        <p>{{ order.shipping_address.street }}</p>
        {% comment %} <p>Province: {{ order.shipping_address.province }}</p> {% endcomment %}
        <p>{{ order.shipping_address.city }}</p>
        <p>{{ order.shipping_address.zip }}</p>
        <p>{{ order.shipping_address.country }}</p>
      </div>
    </div>
    <div>
      <h1 class="font-medium mb-4">Adres rozliczeniowy</h1>
      {{ order.billing_address | format_address }}
    </div>
    <div>
      <h1 class="font-medium mb-4">Informacje o płatności</h1>
      {% for transaction in order.transactions %}
        <div class="mb-4">
          {% assign credit_card_company = transaction.payment_details.credit_card_company %}
          {% assign credit_card_last_four_digits = transaction.payment_details.credit_card_number %}
          {% if credit_card_company %}
            <p>{{ credit_card_company }}</p>
            <p>{{ credit_card_last_four_digits }}</p>
            {% case transaction.status_label %}
              {% when 'Failure' %}
                {% assign background = 'style="background: red"' %}
              {% else %}
                {% assign background = 'style="background: green"' %}

            {% endcase %}
            <span {{ background }} class="rounded-full text-sm px-4 py-1 text-white">{{ transaction.status_label }}</span>
          {% else %}
            <p class="text-sm mb-4">To zamówienie dodano ręcznie przez {{ shop.name }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div>
      <table class="table-auto w-full mb-4">
        <tbody>
          <tr>
            <td class="border px-4 py-2">Suma częściowa</td>
            <td class="border px-4 py-2">{{ order.subtotal_price | money }}</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Wysyłka</td>
            <td class="border px-4 py-2">{{ order.shipping_price | money }}</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Kwota całkowita</td>
            <td class="border px-4 py-2">{{ order.total_price | money }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>