<div class="container !max-w-[500px]">
  <div class="text-center my-5">
    <h1 class="text-4xl text-primary my-1">
      {{ section.settings.title }}
    </h1>
    <div class="contact-form-subtitle">
      {{ section.settings.text }}
    </div>
  </div>
  {% form 'contact' %}
    {% if form.errors %}
      <div class="flex flex-row items-center justify-center w-full my-3">
        {% for error in form.errors %}
          <div class="text-red-700">
            {% render 'icon-failed' %}
          </div>
          <p class="text-red-700 text-sm font-bold ml-2">
            {{ form.errors.translated_fields[error] | capitalize }} - {{ form.errors.messages[error] }}
          </p>
        {% endfor %}
      </div>
    {% elsif form.posted_successfully? %}
      <div class="flex flex-row items-center justify-center w-full gap-2 my-5">
        <div class="text-green-700">
          {% render 'icon-success' %}
        </div>
        <p class="text-green-700 font-bold text-center">
          Wiadomość wysłana pomyślnie!
        </p>
      </div>
    {% endif %}
    <div class="grid grid-cols-2 gap-3">
      <label for="contact_name" class="sr-only">Imię</label>
      <input
        type="text"
        name="contact[first_name]"
        id="contact_name"
        class="input sm:col-span-2"
        placeholder="Imię*"
        required>
      <label for="contact_name" class="sr-only">Nazwisko</label>
      <input
        type="text"
        name="contact[last_name]"
        id="contact_name"
        class="input sm:col-span-2"
        placeholder="Nazwisko*"
        required>
      <label for="contact_email" class="sr-only">E-mail</label>
      <input
        type="email"
        name="contact[email]"
        id="contact_email"
        class="input col-span-2"
        placeholder="E-mail*"
        required>

      {% comment %} Subject {% endcomment %}
      <label for="tytuł" class="sr-only">Temat</label>
      <select
        x-data="{
        subjects: '{{ section.settings.subjects }}'.split(', ')
      }"
        id="tytuł"
        name="contact[tytuł]"
        class="input col-span-2">
        <option disabled selected>Wybierz temat</option>
        <template x-for="subject in subjects">
          <option x-text="subject"></option>
        </template>
      </select>

      <label for="contact_message" class="sr-only">Wiadomość</label>
      <textarea
        name="contact[body]"
        id="contact_message"
        class="input resize-none h-20 py-2 col-span-2"
        placeholder="Wiadomość">
      </textarea>

    </div>
    <div class="flex gap-3 justify-center m-2"> 
          <input
        type="checkbox"
        name="contact[consent]"
        id="contact_consent"
        required>
        <label for="contact_consent">
          Akceptuję warunki <b class="text-shof-orange"><a href="{{ section.settings.privacy_policy }}" target="_blank">polityki prywatności.</a></b>
        </label>
      </div>
    <div class="text-center mt-3">
      <button type="submit" class="button">Wyślij</button>
    </div>
  {% endform %}
</div>

{%  style  %}
.contact-form-subtitle a {
  color: rgb(236 118 74);
}
{% endstyle %}

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
      {
        "type": "text",
        "label": "Tematy",
        "id": "subjects",
        "info": "Wpisz tematy, które będą dostępne w formularzu. Oddziel je przecinkiem.",
        "default": "Zwroty, Wysyłka, Inne"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Kontakt"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Napisz do nas</p>"
      },
      {
        "type": "text",
        "label": "Polityka prywatności",
        "id": "privacy_policy",
        "info": "Wybież stronę z polityką prywatności",
        "default": "/pages/polityka-prywatnosci"
      }
    ],
    "presets": [
      {
        "name": "Contact Form"
      }
    ]
  }
{% endschema %}