<header x-data="mobileMenu" x-cloak>
  <!-- LOGO WITH ACTIONS -->
  <div class="container mx-auto relative">
    <!-- MENU BUTTON -->
    <div x-on:click="toggleMenu" class="absolute left-6 top-1/2 p-3 rounded-full hover:bg-gray-100 transform -translate-y-1/2 lg:hidden">
      {% render 'icon-menu' %}
    </div>

    <div>{{ section.settings.mobile_menu_title }}</div>
    <!-- LOGO -->
    <div class="w-1/2 max-w-[350px] mx-auto p-6">
      <a href="{{ shop.url }}">
        {% render 'logo-animated' %}
      </a>
    </div>

    <!-- SIDE ACTIONS -->
    <div class="flex gap-2 absolute right-6 top-1/2 transform -translate-y-1/2">
      <a
        class="p-3 cursor-pointer rounded-full hover:bg-gray-100 "
        x-data
        @click="window.Functions.showCartDrawer()">{% render 'icon-shopping-bag' %}</a>

      {% if shop.customer_accounts_enabled %}
        <a class="p-3 cursor-pointer rounded-full hover:bg-gray-100 hidden lg:block" href="{{ routes.account_login_url }}">{% render 'icon-login' %}</a>
      {% endif %}
    </div>
  </div>

  <!-- DIVIDER -->
  <div class="w-full bg-black h-[2px]"></div>

  <!-- NAVIGATION MENU -->
  <div class="container mx-auto relative text-xl hidden lg:block z-10">
    <nav class="flex w-max mx-auto">
      {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
          <div
            x-data="{open: false}"
            class="group"
            x-on:mouseenter="open = ! open"
            @mouseleave="open = false">
            <a class="flex items-center gap-2 px-6 py-4 pr-2 group-hover:text-hover hover:scale-105 transition relative" href="#">{{ link.title }} {% render 'icon-dropdown' %}</a>
            <div
              x-show="open"
              x-transition
              class="flex flex-col absolute shadow-m">
              {% for sublink in link.links %}
                <div class="flex">
                  <a class="w-full px-6 py-4 bg-background hover:bg-background-hover transition" href="{{ sublink.url }}">{{ sublink.title }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="flex">
            <a class="px-6 py-4 hover:text-hover hover:scale-105 transition" href="{{ link.url }}">{{ link.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </nav>
  </div>

  {% render 'mobile-menu' %}
</header>

<!-- something for SEO. Investigate in the future -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tiktok_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ request.origin | append: page.url | json }}
    }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}


{% schema %}
  {
    "name": "Nagłówek",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ],
    "max_blocks": 12,
    "blocks": [],
    "presets": [
      {
        "name": "Nagłówek"
      }
    ]
  }
{% endschema %}