<div class="container my-10">
  <div class="grid md:grid-cols-2 md:gap-10 grid-cols-1 gap-5 justify-center">
    {% comment %} Product Media {% endcomment %}
    <div class="w-5/6 relative lg:max-w-[400px] place-self-center md:place-self-end self-start md:self-start">
        {% render 'product-gallery'
          , max-width: 100 %}
    </div>

    {% comment %} Product Description {% endcomment %}
    <div class="flex flex-col gap-3">
      {% for block in section.blocks %}
        {% case block.type %}
          {%- when '@app' -%}
            {% render block %}

          {% when "vendor" %}
            <div class="">
              <span class="text-xs">
                {{ product.vendor }}
              </span>
            </div>


          {% when 'title' %}
            <div class="">
              <h1 class="text-3xl">{{ product.title }}</h1>
            </div>

          {% when 'description' %}
            <div>
              {% render 'accordion'
                , data: product.description
                , class: "mt-6" %}
            </div>

          {% when 'variant_selector' %}
            <div class="mt-4">
              {% unless product.has_only_default_variant %}
                {% render 'product-variant-selector'
                  , product: product %}
              {% endunless %}
            </div>

          {% when 'custom-attributes' %}
            {% render 'product-custom-attributes' %}

          {% when 'pasek' %}
            {% if product.metafields.custom.paski %}
              {% render 'product-pasek-attribute' %}
            {% endif %}

          {% when 'quantity' %}
            <div class="mt-8 -ml-4">
              {% render 'product-quantity' %}
            </div>

          {% when 'price' %}
            {% render 'price'
              , product: product %}

          {% when 'checkout_buttons' %}
            <div class="flex gap-4 flex-wrap items-center">
              {% render 'current-price'
                , class: "mr-4" %}
              <div
                x-data="addToCartValidation('{{product.has_only_default_variant}}','{{product.selected_or_first_available_variant.id}}')"
                @finish-changed.window="initializeFinishAttribute"
                @pasek-changed.window="initializePasekAttribute"
                @quantity-changed.window="quantity = $event.detail.quantity">
                {% assign product_form_installment_id = 'product-form-installment-' | append: section.id %}
                {% form 'product'
                  , product
                  , id: product_form_installment_id
                  , novalidate: 'novalidate'
                  , x-ref: 'product_form' %}

                  <input
                    x-ref="variant"
                    type="hidden"
                    name="id"
                    x-model="variant" />
                  <input
                    type="hidden"
                    name="quantity"
                    x-model="quantity" />

                  <button
                    type="submit"
                    name="add"
                    class="product-section__cart-button button text-xl uppercase"
                    @click.prevent="validate"
                    {% unless product.selected_or_first_available_variant.available %}
                    disabled
                    {% endunless %}>
                    {% unless product.selected_or_first_available_variant.available %}
                      {{ block.settings.sold_out }}
                    {% else %}
                      {{ block.settings.add_to_cart }}
                    {% endunless %}
                  </button>


                  {% if block.settings.dynamic_buttons %}
                    {{ form | payment_button }}
                  {% endif %}

                {% endform %}
              </div>
              <div class="w-full text-red-600" id="message"></div>
            </div>


        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "custom-attributes",
        "name": "Custom Attributes",
        "limit": 1
      },
      {
        "type": "pasek",
        "name": "Pasek",
        "limit": 1
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      }, {
        "type": "title",
        "name": "Title",
        "limit": 1
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      }, {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      }, {
        "type": "price",
        "name": "Price",
        "limit": 1
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "add_to_cart",
            "label": "Add to cart button text",
            "default": "Do koszyka"
          }, {
            "type": "text",
            "id": "sold_out",
            "label": "Sold Out button text",
            "default": "Wyprzedane"
          }, {
            "type": "checkbox",
            "id": "dynamic_buttons",
            "label": "Allow Dynamic Buttons",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}