<div
  class="slider overflow-hidden lg:w-4/5 xl:w-4/6 mx-auto relative my-10"
  x-data="slider"
  x-init="initialize">
  <div x-ref="sliderContainer">
    {% for block in section.blocks %}
      <div
        x-init="slideInit"
        x-ref="slide-{{ forloop.index }}"
        class="absolute pb-12 text-center w-full flex flex-col gap-4 p-10 items-center justify-center">
        <div class=" text-base font-light italic mx-10">{{ block.settings.content }}</div>
        <div class="text-base font-medium not-italic">{{ block.settings.author }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="arrows absolute w-full flex justify-between bottom-0 md:bottom-1/2 md:translate-y-1/2">

    <div @click="previousSlide()" class="transition text-shof-pink hover:scale-[1.2] active:scale-[1]">{% render 'icon-chevron-left' size: 80 %}</div>
    <div @click="nextSlide()" class="transition text-shof-pink hover:scale-[1.2] active:scale-[1]">{% render 'icon-chevron-right' size: 80 %}</div>
  </div>
{% comment %} Indicators {% endcomment %}
{% comment %} <div class="indicators absolute left-1/2 -translate-x-1/2 bottom-4 flex gap-4">
      {% for block in section.blocks %}
        <div
          @click="goToSlide({{ forloop.index }})"
          class="transition w-2 h-2 hover:bg-hover rounded-full hover:scale-[1.3] active:scale-[1]"
          :class="currentIndex == {{ forloop.index }} ? 'bg-hover' : 'bg-shof-pink'"></div>
      {% endfor %}
  </div> {% endcomment %}
</div>


{% schema %}
  {
    "name": "Opinie",
    "settings": [],
    "blocks": [
      {
        "type": "review",
        "name": "Opinia",
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label": "Treść"
          }, {
            "type": "text",
            "id": "author",
            "label": "Autor"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Opinie"
      }
    ]
  }
{% endschema %}